    body {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgba(134, 68, 209, 0.815);
    }
    
    button {
        color: rgba(205, 161, 255, 0.815);
    }
    
    #logoname {
        font-size: 30px;
        color: #468fcf;
    }
    
    #nav_main {
        font-size: 24px;
        color: rgb(151, 23, 23);
    }
    
    #nav {
        margin-top: 41px;
        margin-bottom: 200px;
    }
    
    li {
        display: grid;
    }
    
    .menu-bar {
        background: #52EB8A;
    }
    
    .menu-bar ul {
        display: inline-flex;
        list-style: none;
        color: aquamarine;
    }
    
    .menu-bar ul li {
        width: 130px;
        margin: 15px;
        padding: 15px;
    }
    
    #main {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    
    #about-me {
        font-size: 35px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 140, 255);
    }
    
    a:hover {
        text-decoration: overline;
        color: red;
        animation-name: linkhover;
        animation-duration: 2s;
    }
    
    @keyframes linkhover {
        0% {
            color: #468fcf;
        }
        50% {
            color: #f0b3b3;
        }
        100% {
            color: red;
        }
    }
    
    .web {
        display: flex;
        flex-direction: column;
    }
    
    .main-black {
        justify-content: center;
    }
    
    #navl {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .nav {}
    
    #b1 {}
    
    #b3 {}
    
    #aboutme {
        font-size: 30px;
    }
    
    #contact {
        /* Element | https://theblokker.github.io/ */
        margin-top: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(150, 141, 141, 0.575);
        color: white;
    }