    body {
        text-align: center;
        font-family: "Josefin Sans", serif;
        background-color: rgba(221, 56, 255, 0.81);
    }
    
    button {
        color: rgba(205, 161, 255, 0.815);
    }
    
    #logoname {
        font-size: 30px;
        color: #468fcf;
    }
    
    #nav_main {
        font-size: 24px;
        color: rgb(151, 23, 23);
    }
    i {
        padding: 10px;
    }
    
    #nav {
        margin-top: 41px;
        margin-bottom: 200px;
    }
    
    li {
          display: grid;
      }
    
    .menu-bar {
        background: #52EB8A;
    }

    .profilepic {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .menu-bar ul {
        display: inline-flex;
        list-style: none;
        color: aquamarine;
    }
    
    .menu-bar ul li {
        width: 130px;
        margin: 15px;
        padding: 15px;
    }
    
    #main {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    
    #about-me {
        font-size: 35px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 140, 255);
    }
    
    a:hover {
        text-decoration: overline;
        color: red;
        animation-name: linkhover;
        animation-duration: 2s;
    }
    
    @keyframes linkhover {
        0% {
            color: #468fcf;
        }
        50% {
            color: #f0b3b3;
        }
        100% {
            color: red;
        }
    }
    
    .web {
        display: flex;
        flex-direction: column;
    }
    
    .main-black {
        justify-content: center;
    }
    
    #navl {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .nav {}
    
    #b1 {}
    
    #b3 {}
    
    #aboutme {
        font-size: 30px;
    }
    #footer {
        text-align: center;
        background-color: #52EB8A;
    }