body {
    text-align: center;
    background-color: rgba(144, 238, 191, 0.616);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
    background-color: gray;
    color: white;
}

a:hover {
    text-decoration: overline;
    color: red;
    animation-name: linkhover;
    animation-duration: 2s;
}

a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

@keyframes linkhover {
    0% {
        color: #468fcf;
    }
    50% {
        color: #f0b3b3;
    }
    100% {
        color: red;
    }
}

#lb1 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#lb1 #l1b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#lb2 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#lb2 #l2b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#lb3 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#lb3 #l3b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#lb4 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#lb4 #l4b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#lb5 {
    position: relative;
    width: 100%;
    max-width: 400px;
}

#lb5 #l5b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}