body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#logoname{
    font-size: 30px;
    color: #468fcf;
}
#nav_main{
    font-size: 24px;
    color: rgb(151, 23, 23);
    
}
#nav{
    margin-top: 41px;
    margin-bottom: 200px;
    
}
li {
    display:grid;
}
.menu-bar {
    background: #52EB8A;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color:aquamarine;
}
.menu-bar ul li {
    width: 130px;
    margin: 15px;
    padding: 15px;
}

#main{
    margin-top: 41px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    text-decoration: none; 
}
#tutmaps{
    margin: 20px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
}
#sourcemaps{
    margin: 20px;
    display: flex;
    justify-content: center;
}
#GoldSrcmaps{
    margin: 20px;
    display: flex;
    justify-content: center;
}
#giantsmaps{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#atsUndEts2maps{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

#text_about_me{
    font-size: 35px;
}
a {
    text-decoration: none;
    color: rgb(0, 140, 255);
    
}
a:hover{
    text-decoration: overline;
    
    color: red;
    animation-name: linkhover;
    animation-duration: 2s;
}

@keyframes linkhover {
    0% {
        color: #468fcf;
    }
    50% {
        color: #f0b3b3;
    }
    100% {
        color: red;
    }
}


#contact{
    margin-left: 25px;
    margin-right: 25px; 
    margin-top: 15px;
    background-color: rgba(150, 141, 141, 0.575);
    color: white;   
    
 }


