body{
    text-align: center;
    background-color: rgba(144, 238, 191, 0.616);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact{
    margin-left: 25px;
    margin-right: 25px; 
    margin-top: 150px;
    background-color: gray;
    color: white;   
  }
a:hover{
    text-decoration: overline;
    
    color: red;
    animation-name: linkhover;
    animation-duration: 2s;
}
a {
    text-decoration: none;
    color: rgb(0, 140, 255);
    
}
@keyframes linkhover {
    0% {
        color: #468fcf;
    }
    50% {
        color: #f0b3b3;
    }
    100% {
        color: red;
    }
}
#lb1{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
  
}
#lb1 #l1b {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #555;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   
}
#lb2{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb2 #l2b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 #lb3{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb3 #l3b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 #lb4{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb4 #l4b {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 #lb5{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb5 #l5b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 #lb6{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb6 #l6b {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
 #lb7{
    position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb7 #l7b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
#lb8{
  position: relative;
  width: 100%;
  max-width: 400px;
  outline: 2px ridge rgba(79, 109, 32, 0.6);
border-radius: 2rem;
}
#lb8 #l8b {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }
#css-link{
  position: relative;
  width: 100%;
  max-width: 400px;

}
#css-link #CSS-B {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#csgo-link{
  position: relative;
  width: 100%;
  max-width: 400px;

}
#csgo-link #CSGO-B {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#dods-link{
  position: relative;
  width: 100%;
  max-width: 400px;

}
#dods-link #DODS-B {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#dodgo-link{
  position: relative;
  width: 100%;
  max-width: 400px;

}
#dodgo-link #DODGO-B {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}