body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#top{

}
#logoname{
    font-size: 30px;
    color: #468fcf;
}
#nav_main{
    font-size: 24px;
    color: rgb(151, 23, 23); 
    padding: 0;
    box-sizing: border-box;
}
li {
    display:grid;
}
.menu-bar {
    background: #52EB8A;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color:aquamarine;
}
.menu-bar ul li {
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.active, .menu-bar ul li:hover{
    background: green;
    border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.active, .menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(0, 100, 0); 
    border-radius: 3px;  
    margin-top: 55px; 
    margin-left: -15px;
}
.active, .menu-bar ul li:hover .sub-menu-1 ul{
    display:inline;
    margin: 10px;
}
.sub-menu-2 {
    display: none;
}
.hover-me-1:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgba(0, 100, 0, 100);
}
a {
    text-decoration: none;
    color: rgb(0, 140, 255);
    
}
a:hover{
    text-decoration: overline;
    
    color: red;
    animation-name: linkhover;
    animation-duration: 3s;
}

@keyframes linkhover {
    0% {
        color: #468fcf;
    }
    50% {
        color: #f0b3b3;
    }
    100% {
        color: red;
    }
}



#nav{
    margin-top: 41px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}

#side_links{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    
}

#side_middle{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#side_right{
    margin: 20px;
    display: flex;
    justify-content: center;
    
    
}
#side_vdc{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

#main{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px; 
}

#text_about_me{
    font-size: 35px;
}



#contact{
   margin-left: 25px;
   margin-right: 25px; 
   margin-top: 15px;
   background-color: rgba(150, 141, 141, 0.575);
   color: white;   

}





