body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logoname{
    font-size: 30px;
    color: #468fcf;
}
#nav_main{
    font-size: 24px;
    color: rgb(151, 23, 23);
    
}
#Wartungsscreen{
    font-size: 90px;
}