body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logoname {
    font-size: 30px;
    color: rgb(70, 143, 207);
}

#nav_main {
    font-size: 24px;
    color: rgb(151, 23, 23);
}