@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
}

.openbox{
    float: left;
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
    padding: 3px;
    border-color: #000000;
    border-width: 5px;
    background-color: #000000;
    border-radius: 5px;
}

h1{
    font-family: 'Rubik', sans-serif;
    box-shadow: 0px 15px 0px 0px rgba(182, 0, 64, 0.7);
}
hr{
    color: #000000;
    border-top: 6px solid #000000;
}
.aboutme{
    margin-bottom: 5em;
}
.aboutme h2{
    margin-top: 25px;
}
.textAM2{
    padding-top: 5em;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
}
.bewerbungsanschreiben h2 {
    padding-bottom: 1em;
}
.lebenslauf{
    padding-top: 10px;
    
}
.bildungsweg{
    padding-top: 50px;
}
.bildungsweg h3 {
    margin-bottom: 15px;
}
.jrk{
    margin-top: 50px;
}
.jrk h3{
    margin-bottom: 15px;
}
.infoag{
    margin-bottom: 1em;
}
.kenntnisse{
    margin-top: 50px;
}
.kenntnisse h3{
    margin-bottom: 20px;
}
.hobbys {
    margin-top: 50px;
}

/* The side navigation menu */
.nav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .nav {
        padding-top: 15px;
    }

    .nav a {
        font-size: 18px;
    }
    
}

